<% if logged_in? %>
  <div class="center">
    <h1>Business Intelligence</h1>
    <h3>Inteligencia para los negocios</h3>
  </div>
  <div>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  </div>
  <div id="calendario">
    <h3 class="center">Actividades</h3>
    <%= month_calendar events: @eventos, attribute: :fecha do |date, eventos| %>
      <%= date.strftime('%e') %>
      <% eventos.each do |evento| %>
         <div>
	   <%= link_to evento.deal.empresa.nombre, evento.deal %>
	   <%= link_to edit_accion_path(evento) do %>
	     <%= content_tag :p do %>
	       <%= evento.medio %>
	       <%= icono(evento)[:salida] %>
	     <% end %>
	   <% end %>
         </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Business Intelligence</h1>
    <h3>Inteligencia para los negocios</h3>
    <div>
      <%= link_to "Logueate", loguearse_path, class: "btn btn-lg btn-primary", id: "bot_registrarse" %>
    </div>
    <div>
      ¿Sos un agente nuevo? <%= link_to "Registrate", registrarse_path %>
    </div>
  </div>
<% end %>
  
