<li id="comentario-id-<%= comentario.id %>" class="list-group-item comentario <%= comentario.user==current_user ? 'comentario-propio' : '' %>" data-ref="<%= edit_comentario_path(comentario) %>" data-comentario-id="<%= comentario.id %>">
  <p class="comentario-fecha"><%= comentario.created_at.to_formatted_s(:short) %></p>
  <span class="comentario-user"><%= comentario.user.name %></span>
  <span id="comentario-id-<%= comentario.id %>-texto" class="comentario-texto"><%= comentario.texto %></span>

<span id="comentario-id-<%= comentario.id %>-form" class="comentario-form">
  <%= form_for(comentario, remote: true) do |f| %>
    <%= f.text_area :texto, placeholder: comentario.texto %>
    <%= f.submit "Guardar", class:"btn btn-primary" %>
  <% end %>
  <%= button_to 'Borrar', comentario, method: :delete, class: "btn btn-primary rojo", remote: true %>
</span>

</li>
