<ul>
  <li class="contacto-empresa">
    <span class="etiqueta">Empresa:</span>
    <%= link_to contacto.empresa.nombre, contacto.empresa %>
  </li>
  <li class="cargo">
    <span class="etiqueta">Cargo:</span>
    <%= contacto.cargo %>
  </li>
  <li class="telefono">
    <span class="etiqueta">Teléfono:</span>
    <%= contacto.tel %>
  </li>
  <li class="email">
    <span class="etiqueta">Email: </span>
    <%= contacto.email %>
  </li>
  <li class="dirección">
    <span class="etiqueta">Dirección:</span>
    <%= contacto.dir %>
  </li>
  <li class="ciudad">
    <span class="etiqueta">Ciudad:</span>
    <%= contacto.ciudad %>
  </li>
  <li class="bday">
    <span class="etiqueta">Cumpleaños:</span>
    <%= contacto.bday.to_formatted_s(:d_m) %>
  </li>
  <li class="familia">
    <span class="etiqueta">Familia:</span>
    <%= contacto.ciudad %>
  </li>
  <li class="comentarios">
    <span class="etiqueta">Comentarios:</span>
    <%= contacto.comentarios %>
  </li>


</ul>
