<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for(@user, size:300, class:"gravatar-100px") %>
        <%= @user.name %>
      </h1>
      </section>
      <section class="deal_form">
	<h3 class="verde">Nuevo deal</h3>
        <%= render 'shared/deal_form' %>
      </section>
  </aside>
  <div class="col-md-8">
    <% if @user.deals.any? %>
      <h3>Deals (<%= @user.deals.count %>)</h3>
      <ol class="deals">
        <%= render @deals %>
      </ol>
      <%= will_paginate @deals %>
    <% end %>
  </div>
</div>
