<tr id="deal-<%= deal.id %>" class="deal clickable-row" data-href="<%= deal_url(deal) %>">
  <td class="deal deal-estado estado estado-<%= deal.estado.parameterize('_') %>">
    <%= deal.estado %>
  </td>
  <td class="deal deal-empresa empresa">
      <% if current_user && ( deal.user == current_user or
	                      deal.cousers.include?(current_user) )%>
<% if false%>
        <%= link_to deal.empresa.nombre, deal.empresa %>
<% end %>

        <%= deal.empresa.nombre %>
      <% else %>
        <%= deal.empresa.nombre %>
      <% end %>
    </td>
  <td class="deal-contacto"><%= deal.contacto.nombre_completo %></td>
  <td class="center"> - </td>
  <td class="deal-user"><%= deal.user.name %></td>

  <td class="deal deal-contenido producto">
    <% if @user %>
      <%= deal.producto.nombre %>
    <% end %>
  </td>

<% if false %>
  <td class="deal deal-contenido probabilidad">
    <% if p = deal.probabilidad %>
      <%= deal.probabilidad %>%
    <% end %>
  </td>
<% end %>


<% if false %>
  <td class="deal deal-companeros">
    <% compas = [] %>
    <% deal.participacions.each do |p| %>
      <% if current_user != p.user then compas.append(p.user.name.split.first) end %>
    <% end %>
  <span class="companero"><%= compas.join(", ") %></span>
  </td>
<% end %>


  <td class="deal deal-posesion posesion-<%= deal.posesion %>">
    <% if deal.posesion %>
      <%= "Macher" %>
    <% else %>
      <%= "Cliente" %>
    <% end %>
  </td>
  <td class="center"> - <!-- Comentarios --></td>
  <td class="center"> - <!-- Pendientes --></td>
  <td class="deal deal-fechas modificado">
    <% if deal.accions.any? %>
      <%= l deal.accions.first.fecha, format: :date_short %>
    <% end %>
  </td>

<% if false %>
  <td class="deal deal-fechas modificado">
    <%= l deal.updated_at, format: :date_short %>
  </td>
  <td class="deal deal_edit">
    <%= link_to "Editar", edit_deal_path(deal), class: "btn btn-secondary btn-edit_deal" %>
  </td>
  <td class="deal new_accion">
    <%= link_to "+ Acción", nueva_accion_deal_path(deal) , class: "btn btn-secondary btn-new_accion" %>
  </td>
<% end %>
</tr>
