<%= form_for(@deal) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group"> 
    <%= f.label :empresa, "Empresa"%>
    <%= f.text_field :empresa, class: 'form-control'  %>
  </div>
  <div class="form-group"> 
    <%= f.label :fuente, "Fuente del contacto" %>
    <%= f.text_field :fuente, class: 'form-control'  %>
  </div>
  <div class="form-group"> 
    <%= f.label :producto, "Producto" %>
    <%= f.select :producto, ["Web", "App", "Mktg Dig", "Neuro", "Consultoría"], class: 'form_control' %>
  </div>
  <div class="form-group"> 
    <%= f.label :estado, "Estado" %>
    <%= f.select :estado, ["Ganado", "Perdido", "En espera", "Trabajo contratado"], class: 'form-control' %>
  </div>
  <div class="form-group"> 
    <%= f.label :probabilidad, "Probabilidad" %>
    <%= f.number_field :probabilidad, value: 50, step:10 , class: 'form-control' %>
  </div>

  <%= f.submit "Guardar el deal", class: "btn btn-primary" %>
  
<% end %>
