<tr id="deal-<%= deal.id %>" class="deal">
  <td class="deal deal-empresa empresa">
      <% if current_user && ( deal.user == current_user or
	                      deal.cousers.include?(current_user) )%>
        <%= link_to deal.empresa, '#' %>
      <% else %>
        <%= deal.empresa %>
      <% end %>
    </td>
  <td class="deal-user"><%= deal.user.name %></td>

  <td class="deal deal-contenido producto">
    <% if @user %>
      <%= link_to deal.producto.nombre, producto_path(deal.producto.id) %>
    <% end %>
  </td>
  <td class="deal deal-contenido probabilidad">
    <% if p = deal.probabilidad %>
      <%= deal.probabilidad %>%
    <% end %>
  </td>
  <td class="deal deal-companeros">
    <% deal.participacions.each do |p| %>
      <%= p.user.name.split.first %> - 
    <% end %>
  </td>
  <td class="deal deal-estado estado estado-<%= deal.estado.parameterize('_') %>">
    <%= deal.estado %>
  </td>
  <td class="deal deal-fechas creacion">
    <%= deal.created_at.to_formatted_s(:d_m_y) %>
  </td>
  <td class="deal deal-fechas modificado">
    <%= deal.updated_at.to_formatted_s(:d_m_y) %>
  </td>
</tr>
