<li id="deal-<%= deal.id %>" class="deal">
  <div class="deal deal-empresa">
    <span class="empresa"><%= deal.empresa %></span>
    <% if not @user %><span class="deal-user"> - <%= deal.user.name %></span><% end %>
  </div>
  <div class="deal deal-contenido">
    <span class="producto">
      <% if @user %>
        <%= link_to deal.producto.nombre, producto_path(deal.producto.id) %>
      <% end %>
    </span>
    <span class="probabilidad">
      <% if p = deal.probabilidad %>
        <% if @user %> - <% end %>
	<%= deal.probabilidad %>%
      <% end %>
    <span class="estado estado-<%= deal.estado.parameterize('_') %>"><%= deal.estado %></span>
  </div>
  <div class="deal deal-fechas">
    <span class="creacion">Creado: <%= deal.created_at.to_formatted_s(:d_m_y) %></span>
    <span class="modificado"> - Últimos cambios: <%= deal.updated_at.to_formatted_s(:d_m_y) %></span>
  </div>
</li>
