<li id="deal-<%= deal.id %>" class="deal">
  <div class="deal deal-empresa">
    <span class="empresa"><%= deal.empresa %></span></div>
  <div class="deal deal-contenido">
    <span class="producto"> - <%= deal.producto %></span>
    <span class="estado estado-<%= deal.estado.parameterize('_') %>"><%= deal.estado %></span>
  </div>
  <div class="deal deal-fechas">
    <span class="creacion">Creado: <%= deal.created_at.to_formatted_s(:short) %></span>
    <span class="modificado"> - Últimos cambios: <%= deal.updated_at.to_formatted_s(:short) %></span>
  </div>
  <hr>
</li>
