<% provide(:title, "Editar Deal") %>
<h1>Deal con <span class="titulo-empresa"><%= @deal.empresa %></span></h1>
<div class="row edit">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@deal) do |f| %>
    
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="form-group"> 
      <%= f.label :fuente, "Fuente del contacto" %>
      <%= f.text_field :fuente, class: 'form-control'  %>
    </div>
    <div class="form-group"> 
      <%= f.label :producto_id, "Producto" %>
      <%= f.select :producto_id, Producto.all.collect { |p| [p.nombre, p.id] }, class: 'form_control' %>
    </div>
    <div class="form-group"> 
      <%= f.label :estado, "Estado" %>
      <%= f.select :estado, ["Ganado", "Perdido", "En espera", "Trabajo contratado"], class: 'form-control' %>
    </div>
    <div class="form-group"> 
      <%= f.label :probabilidad, "Probabilidad" %>
      <%= f.number_field :probabilidad, step:10 , class: 'form-control' %>
    </div>
    <%= f.submit "Guardar", class: "btn btn-primary" %>
    <% end %>
    <%= button_to "Eliminar deal", @deal, method: :delete, data: { confirm: "¿Seguro?" }, class: "btn btn-danger" %>

    <div> 
      <div id="companeros-edit" class="full-width">
	<span class="titulo-compa">Participan</span>
	<span class="titulo-compa">No participan</span>
      </div>
      <% User.where('id != ?', @deal.user.id).each do |u| %>
        <%= render partial: 'shared/participacions_btn', locals: { deal: @deal, user: u } %>
      <% end %>
    </div>
  </div>
</div>
