<% provide(:title, "Deal con #{@deal.empresa.nombre}") %>
<h1>Deal con <%= @deal.empresa.nombre %></h1>
<div class="row">
  <div class="col-md-3" id="form-sidebar">
    <h3>Nueva acción</h3>
    <%= render partial: 'accions/new' %>
  </div>
  <div class="col-md-8" id="deal-main">
    <div id="deal-resumen">
      <%= render partial: 'shared/deal_block', locals: {deal: @deal} %>
    </div>
    <div class="col-md-6" id="deal-estado">
      <span class="titulo">Estado: </span>
      <span class="estado estado-<%= @deal.estado.parameterize('_') %>"><%= @deal.estado %></span>
    </div>
    <div class="col-md-6" id="deal-posesion">
      <span class="titulo">Posesión: </span>
      <span id="deal-posesion-dyn" class="posesion posesion-<%= @deal.posesion %>">
	<% if @deal.posesion %>
	  <%= "Macher" %>
	<% else %>
	  <%= "Cliente" %>
	<% end %>
      </span>
      <%= button_to 'Cambiar', url_for(action: :posesion_toggle, id: @deal.id), remote: true, class: 'btn btn-secondary auto-width', form_class: 'inline-form' %>
    </div>
    <div id="deal-acciones">
      <h3 class="center">Acciones</h3>
      <table class="table table-condensed table-striped tabla-acciones">
	<theader></theader>
	<%= render @deal.accions %>
      </table>
    </div>
    <div id="calendario">
      <h3 class="center">Calendario</h3>
      <%= month_calendar events: @eventos, attribute: :fecha do |date, eventos| %>
        <%= date.strftime('%e') %>
	<% eventos.each do |evento| %>
          <div>
	    <%= link_to evento.deal.empresa.nombre, evento.deal %>
	    <%= link_to edit_accion_path(evento) do %>
	     <%= content_tag :p do %>
	       <%= evento.medio %>
	       <%= icono(evento)[:salida] %>
	     <% end %>
	   <% end %>
          </div>
	<% end %>
      <% end %>
    </div>
  </div>
  <div id="deal_btns" class="col-md-1">
    <%= render 'btns' %>
  </div>
</div>
