<% if accion.id %>
<tr class="accion" id="accion-<%= accion.id %>">
  <td class="usuario">
    <%= @deal.user.name.split.first %>
  </td>
  <td class="direccion">
    <% if accion.salida? %>Salida
    <% else %>Entrada
    <% end %>
  </td>
  <td class="medio">
    <%= accion.medio %>
  </td>
  <td class="resultado">
    <%= accion.resultado %>
  </td>
  <td class="hecha">
    <% if accion.hecha %>Hecha<% else %>No hecha<% end %>
  </td>
  <td class="comentario">
    <%= accion.comentario %>
  </td>
  <td class="fecha">
    <%= accion.fecha.to_formatted_s(:d_m) %>
  </td>
</tr>
<% end %>
