<% if accion.id %>
<tr class="accion clickable-row" id="accion-<%= accion.id %>" data-href="<%= edit_accion_path(accion) %>">
  <td class="usuario">
    <%= accion.user.name.split.first %>
  </td>
  <td class="direccion">
    <%= icono(accion)[:salida] %>
<!--     <% if accion.salida? %>Salida
    <% else %>Entrada
    <% end %> -->
  </td>
  <td class="medio">
    <%= accion.medio %>
  </td>
  <td class="resultado">
    <%= accion.resultado %>
  </td>
  <td class="hecha">
    <%= icono(accion)[:hecha] %>
<!--    <% if accion.hecha %>Hecha<% else %>No hecha<% end %> -->
  </td>
  <td class="comentario">
    <%= accion.comentario %>
  </td>
  <td class="fecha">
    <%= accion.fecha.to_formatted_s(:d_m) %>
  </td>
</tr>
<% end %>
