<%= form_for(@accion) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div><%= hidden_field_tag :deal_id, @accion.deal.id %></div>
  <div class="form-group"> 
    <%= f.label :medio, "Medio"%>
    <%= f.select :medio, ["Llamada", "Visita", "Social Media", "Email"], class: 'form-control'  %>
  </div>
  <div class="form-group"> 
    <%= f.label :salida, "¿Quién la inició?"%>
    <%= f.select :salida, options_for_select([['Usuario', true], ['Cliente', false]], 1), class: 'form-control'  %>
  </div>
  <div class="form-group"> 
    <%= f.label :resultado, "Resultado"%>
    <%= f.select :resultado, ["Sigue", "Posterga", "Cancela", "Contrata"], class: 'form-control'  %>
  </div>
  <div class="form-group fecha-input"> 
    <%= f.label :fecha, "Fecha"%>
    <%= f.datetime_select :fecha, class: 'form-control' %>
  </div>
  <div class="form-group"> 
    <%= f.label :comentario, "Comentario"%>
    <%= f.text_field :comentario, class: 'form-control'  %>
  </div>
  <%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>
