<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("cerebro.png", alt: "BusInt"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio",  root_path %></li>
        <% if logged_in? %>
	  <li><%= link_to "Mi perfil", current_user %></li>	
	  <li><%= link_to "Usuarios", users_path %></li>
	  <li><%= link_to "Productos", productos_path %></li>
	  <li><%= link_to "Empresas", empresas_path %></li>
	  <li><%= link_to "Mis datos", edit_user_path(current_user) %></li>
          <li><%= link_to "Salir", desloguearse_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Logueate", loguearse_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
